  <div class="editor-row">
    <div class="section">
      <h5>Parameters</h5>
      <!--<div class="editor-option">
        <label class="small">Stats type</label>
        <select class="input-medium" ng-model="panel.tstat" ng-options="f for f in ['count', 'total_count', 'min', 'max', 'total', 'mean']"></select>
      </div>-->
      <div class="editor-option">
        <label class="small">Field</label>
        <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
      </div>
    </div>
  </div>
